.Mars::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
    background-image: url(../img/mars.png);
}

.item--sphere4 {
    border-radius: 80%;
    transform: rotate(25deg);
}

.Mars {
    color: #6e3d04c2;
}

.Mars:hover {
    transform: scale(1.05);
    transform: rotate(25deg);
}

.item:hover.Mars::before,
.item:hover.Mars::after {
    -webkit-animation: spin-round-droite 3.5s linear infinite;
    animation: spin-round-droite 3.5s linear infinite;
}



@-webkit-keyframes spin-round-droite {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes spin-round-droite {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}
/* Styles pour les petits appareils en mode paysage */
@media (max-width: 768px) and (orientation: landscape) {
    .item--sphere4 {
      transform: scale(0.7); /* Réduit la taille de 30% */
    }
  
    .Mars:hover {
      transform: scale(0.75); /* Réduit la taille de 25% au survol */
    }
  }
  